.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.tool{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}


.group_search_name {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 600px;
    width: 40%;
  }

  .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    border-color: rgba(234, 226, 183, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }

  /* css dropdown */

  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 100px;
  }

  .paste-button {
    position: relative;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .button {
    background-color: #70d8ff;
    color: #212121;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
  }
  
  .dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    background-color: #212121;
    border: 2px solid #64a9ed;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: #64a9ed;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
  }
  
  .dropdown-content a:hover {
    background-color: #d7e5f7;
    color: #64a9ed;
  }
  
  .dropdown-content a:focus {
    background-color: #212121;
    color: #64a9ed;
  }
  
  .dropdown-content #top:hover {
    border-radius: 0px 13px 0px 0px;
  }
  
  .dropdown-content #bottom:hover {
    border-radius: 0px 0px 13px 13px;
  }
  
  .paste-button:hover button {
    border-radius: 15px 15px 0px 0px;
  }
  
  .paste-button:hover .dropdown-content {
    display: block;
  }

  /* list friend */
  .list-friend{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
  }
  .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
  }
  .abc:hover{
    background-color: #70d8ff;
    cursor: pointer;
  }
  .avt{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-right: 10px;
  }
  .friend{
    width: 100%;
    background-color: #e2f4f2;
    padding-bottom: 10px;
  }
  
  