
.cover{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
  .info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 15px;
    padding: 20px;
  }
  
  .card {
    width: 230px;
    height: 220px;
    background: #00587C;
    border-radius: 15px;
    /* box-shadow: 1px 5px 60px 0px #100a886b; */
   }

   .card .card-border-top {
    width: 60%;
    height: 3%;
    background: #003140;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
   }

   .img{
    display:flex;
    flex-direction:row
  }
  
   .avt{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
   
   .imgg{
   height:50px;
   width:50px;
   justify-content:center;
   align-items:center;
   }

   .card .img {
    width: 50px;
    height: 50px;
    background: #003140;
    border-radius: 15px;
    margin: auto;
    margin-top: 15px;
   }
   
   .card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    font-size: 16px;
   }

   .button{
    display: flex;
    flex-direction: row;
   }
   
   .accept-button, .refuse-button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    background: #003140;
    color: white;
    font-weight: 600;
    font-size: 10px;
   }
   
   .card .accept-button:hover, .card .refuse-button:hover {
    background: #00ABFE;
    cursor: pointer;
   }

   .icon-chat{
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
   }

   /* popup */
   .refuseModal{
    width: 300px;
    height: 200px;
    background-color: #Fff;
    margin: auto;
    border: #003140 solid 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

   .headerPopup{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
   }