.message-container {
  width: 54%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e9ebec;

}
.message-list-container{
    max-height: 80%;
    overflow-y: auto;
}
.message-list-container::-webkit-scrollbar {
    display: none;
  }
.message-item {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.message-item-right {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #e5efff;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.message-content-container-left {
  width: 100%;
}

.message-content-container-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.avatar-custom-chat{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.message-input-container{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.message-list-action{
    border-bottom: #1574ff 1px solid;
}
.message-input{
    width: 75%;
    height: 100%;
}
.input-message{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    background-color: #fff;
}
.message-time{
  font-size: 11px;
}

.button-image {
  width: 30px; 
  height: 30px;
  vertical-align: middle; 
  margin-right: 5px; 
  border-radius: 5px;
}

.chat-messages {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0.2rem;
    &-thumb {
      background-color: #ffffff39;
      width: 0.1rem;
      border-radius: 1rem;
    }
  }
  .message {
    display: flex;
    align-items: center;
    .content {
      max-width: 40%;
      overflow-wrap: break-word;
      padding: 0.5rem;
      font-size: 1.1rem;
      border-radius: 0.5rem;
      color: #fff;
      @media screen and (min-width: 720px) and (max-width: 1080px) {
        max-width: 70%;
      }
    }
  }
  .sended {
    justify-content: flex-end;
    .content {
      background-color: #4f04ff21;
    }
  }
  .recieved {
    justify-content: flex-start;
    .content {
      background-color: #9900ff20;
    }
  }
}

.emoji{
  position: absolute;
    top: 200px;
}

